In [143]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [144]:
df = pd.read_csv('data.csv', encoding='ISO-8859-1')
data = df.copy()

In [145]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

In [146]:
prev = data.count()
data = data.drop_duplicates()
data = data.dropna()
aft = data.count()
print("dropped:")
print(prev-aft)

dropped:
InvoiceNo      140305
StockCode      140305
Description    138851
Quantity       140305
InvoiceDate    140305
UnitPrice      140305
CustomerID       5225
Country        140305
dtype: int64

In [147]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401604 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 27.6+ MB

In [148]:
non_numeric_columns = data.select_dtypes(exclude='number').columns
for i, col in enumerate(non_numeric_columns):
    print(f"{i+1}. {data[col].nunique()} unique values in column {col}:")
    print(data[col].unique())
    print("")

1. 22190 unique values in column InvoiceNo:
['536365' '536366' '536367' ... '581585' '581586' '581587']

2. 3684 unique values in column StockCode:
['85123A' '71053' '84406B' ... '90214Z' '90089' '23843']

3. 3896 unique values in column Description:
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'PINK CRYSTAL SKULL PHONE CHARM'
 'CREAM HANGING HEART T-LIGHT HOLDER' 'PAPER CRAFT , LITTLE BIRDIE']

4. 20460 unique values in column InvoiceDate:
['12/1/2010 8:26' '12/1/2010 8:28' '12/1/2010 8:34' ... '12/9/2011 12:31'
 '12/9/2011 12:49' '12/9/2011 12:50']

5. 37 unique values in column Country:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Greece' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']

In [149]:
compare = data[['StockCode', 'Description']]
compare = compare.drop_duplicates()
compare = compare.sort_values(by='StockCode')

# compare.to_csv('compare.csv',index=False)

In [150]:
compare = compare.drop_duplicates(subset='StockCode', keep='first')

In [151]:
compare.to_csv('compare2.csv',index=False)

In [152]:
mapping = compare.set_index('StockCode')['Description'].to_dict()

In [153]:
data['Description'] = data['StockCode']
columns_to_map = ['Description']
for column in columns_to_map:
    data[column] = data[column].map(mapping)
    # data[column] = data[column].map(mapping).fillna(0) # if null = 0

In [154]:
data

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE MOROCCAN METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,12/9/2011 12:50,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,12/9/2011 12:50,2.10,12680.0,France
541906,581587,23254,KIDS CUTLERY DOLLY GIRL,4,12/9/2011 12:50,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,12/9/2011 12:50,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,12/9/2011 12:50,4.95,12680.0,France

In [155]:
non_numeric_columns = data.select_dtypes(exclude='number').columns
for i, col in enumerate(non_numeric_columns):
    print(f"{i+1}. {data[col].nunique()} unique values in column {col}:")
    print(data[col].unique())
    print("")

1. 22190 unique values in column InvoiceNo:
['536365' '536366' '536367' ... '581585' '581586' '581587']

2. 3684 unique values in column StockCode:
['85123A' '71053' '84406B' ... '90214Z' '90089' '23843']

3. 3666 unique values in column Description:
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE MOROCCAN METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'LETTER "Z" BLING KEY RING'
 'PINK CRYSTAL SKULL PHONE CHARM' 'PAPER CRAFT , LITTLE BIRDIE']

4. 20460 unique values in column InvoiceDate:
['12/1/2010 8:26' '12/1/2010 8:28' '12/1/2010 8:34' ... '12/9/2011 12:31'
 '12/9/2011 12:49' '12/9/2011 12:50']

5. 37 unique values in column Country:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Greece' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']

In [156]:
compare = data[['StockCode', 'Description']]
compare = compare.drop_duplicates()
compare = compare.sort_values(by='StockCode')

# compare.to_csv('compare.csv',index=False)
compare

       StockCode                  Description
31         10002  INFLATABLE POLITICAL GLOBE
103332     10080     GROOVY CACTUS INFLATABLE
5452       10120                 DOGGY RUBBER
5451      10123C        HEARTS WRAPPING TAPE
12492     10124A  SPOTS ON RED BOOKCOVER TAPE
...          ...                          ...
141            D                     Discount
317507       DOT               DOTCOM POSTAGE
2239           M                       Manual
157195      PADS   PADS TO MATCH ALL CUSHIONS
45          POST                      POSTAGE

[3684 rows x 2 columns]

In [161]:
filtered_df = compare[compare['Description'].isin(df.groupby('Description').filter(lambda x: x['StockCode'].nunique() > 1)['Description'])]
filtered_df.to_csv('filter.csv',index=False)

In [162]:
mapping = compare.set_index('Description')['StockCode'].to_dict()

In [163]:
data['StockCode'] = data['Description']
columns_to_map = ['StockCode']
for column in columns_to_map:
    data[column] = data[column].map(mapping)
    # data[column] = data[column].map(mapping).fillna(0) # if null = 0

In [164]:
non_numeric_columns = data.select_dtypes(exclude='number').columns
for i, col in enumerate(non_numeric_columns):
    print(f"{i+1}. {data[col].nunique()} unique values in column {col}:")
    print(data[col].unique())
    print("")

1. 22190 unique values in column InvoiceNo:
['536365' '536366' '536367' ... '581585' '581586' '581587']

2. 3666 unique values in column StockCode:
['85123A' '71053' '84406B' ... '90214Z' '90089' '23843']

3. 3666 unique values in column Description:
['WHITE HANGING HEART T-LIGHT HOLDER' 'WHITE MOROCCAN METAL LANTERN'
 'CREAM CUPID HEARTS COAT HANGER' ... 'LETTER "Z" BLING KEY RING'
 'PINK CRYSTAL SKULL PHONE CHARM' 'PAPER CRAFT , LITTLE BIRDIE']

4. 20460 unique values in column InvoiceDate:
['12/1/2010 8:26' '12/1/2010 8:28' '12/1/2010 8:34' ... '12/9/2011 12:31'
 '12/9/2011 12:49' '12/9/2011 12:50']

5. 37 unique values in column Country:
['United Kingdom' 'France' 'Australia' 'Netherlands' 'Germany' 'Norway'
 'EIRE' 'Switzerland' 'Spain' 'Poland' 'Portugal' 'Italy' 'Belgium'
 'Lithuania' 'Japan' 'Iceland' 'Channel Islands' 'Denmark' 'Cyprus'
 'Sweden' 'Austria' 'Israel' 'Finland' 'Greece' 'Singapore' 'Lebanon'
 'United Arab Emirates' 'Saudi Arabia' 'Czech Republic' 'Canada'
 'Unspecified' 'Brazil' 'USA' 'European Community' 'Bahrain' 'Malta' 'RSA']