In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data_cleaned.csv', encoding='ISO-8859-1')
data = df.copy()

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401604 entries, 0 to 401603
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    401604 non-null  object
 1   StockCode    401604 non-null  object
 2   Description  401604 non-null  object
 3   Quantity     401604 non-null  int64
 4   InvoiceDate  401604 non-null  object
 5   UnitPrice    401604 non-null  float64
 6   CustomerID   401604 non-null  float64
 7   Country      401604 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 24.5+ MB

In [4]:
data['Profit'] = data['Quantity'] * data['UnitPrice']

In [5]:
data['InvoiceDate']

0          12/1/2010 8:26
1          12/1/2010 8:26
2          12/1/2010 8:26
3          12/1/2010 8:26
4          12/1/2010 8:26
               ...
401599    12/9/2011 12:50
401600    12/9/2011 12:50
401601    12/9/2011 12:50
401602    12/9/2011 12:50
401603    12/9/2011 12:50
Name: InvoiceDate, Length: 401604, dtype: object

In [6]:
data['InvoiceDate'] = pd.to_datetime(data['InvoiceDate'], format='%m/%d/%Y %H:%M')

# Split into separate 'Date' and 'Time' columns
data['Date'] = data['InvoiceDate'].dt.date
data['Time'] = data['InvoiceDate'].dt.time

In [7]:
data_grouped = data.groupby('Date')['Profit'].sum().reset_index()

In [8]:
data_grouped

           Date    Profit
0    2010-12-01  45867.26
1    2010-12-02  45656.47
2    2010-12-03  22553.38
3    2010-12-05  30970.28
4    2010-12-06  30258.77
..          ...       ...
300  2011-12-05  56513.41
301  2011-12-06  43540.22
302  2011-12-07  68867.66
303  2011-12-08  49318.74
304  2011-12-09  15540.59

[305 rows x 2 columns]

In [9]:
data_grouped.to_csv('date-profit.csv',index=False)

In [15]:
# Export the DataFrame to an Excel file
data_grouped.to_excel('date-profit.xls', index=False)

C:\Users\ASUS\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:2: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.

ModuleNotFoundError: No module named 'xlwt'